---
---

@import "{{ site.theme }}";

$vtcolor: #FF4600;

a { color: $vtcolor; }
a:hover, a:focus { color: $vtcolor; }
.en:lang(en), .fr:lang(fr) {
    font-weight: bold;
}

@media print, screen and (max-width: 960px) {
    img.logo { display: none; }
    header p { color: $vtcolor; font-weight: bold; }
    // footer h4 { color: $vtcolor; }
}
