---
---

@import "{{ site.theme }}";

$vtcolor: #FF4600;

a { color: $vtcolor; }
a:hover, a:focus { color: $vtcolor; }

@media print, screen and (max-width: 960px) {
    img.logo { visibility: hidden; }
    header p { color: $vtcolor; }
    footer h4 { color: $vtcolor; }
}
